.Header {
    width: 100%;
    min-height: 100px;
    background: transparent url("../img/header-bg.png") no-repeat center bottom;
    background-size: cover;
    overflow: hidden;
    padding: 200px 0;
    text-align: center;
    position: static;
}
.Header p{
    color: #fff;
    font-weight: bold;
    font-family: '微软雅黑', serif sans-serif;
    z-index: 10;
}
.Header p:nth-of-type(1), .Header p:nth-of-type(2) {
    font-size: 72px;
}
.Header p:nth-of-type(3) {
    font-size: 40px;
    background: transparent url("../img/course-50-bg.png") no-repeat center center;
    background-size: cover;
    display:inline-block;
    padding: 5px 30px;
    border-radius: 25px;
    margin: 10px;
}


/*动画*/
.WhiteCloud-1 {
    position: absolute;
    top: 100px;
    width: 150px;
    height: 60px;
    background: transparent url("../img/white-cloud-1.png") no-repeat center center;
    background-size: 100% 100%;
    animation: cloud-animation-1 linear 3s infinite alternate;
}
.WhiteCloud-2 {
    position: absolute;
    top: 400px;
    width: 150px;
    height: 60px;
    background: transparent url("../img/white-cloud-1.png") no-repeat center center;
    background-size: 100% 100%;
    animation: cloud-animation-2 linear 4s infinite alternate;
}
.WhiteCloud-3 {
    position: absolute;
    top: 80px;
    width: 150px;
    height: 60px;
    background: transparent url("../img/white-cloud-1.png") no-repeat center center;
    background-size: 100% 100%;
    animation: cloud-animation-3 linear 5s infinite alternate;
}
.WhiteCloud-4 {
    position: absolute;
    top: 500px;
    width: 150px;
    height: 60px;
    background: transparent url("../img/white-cloud-1.png") no-repeat center center;
    background-size: 100% 100%;
    animation: cloud-animation-4 linear 6s infinite alternate;
}
.WhiteCloud-5 {
    position: absolute;
    top: 300px;
    width: 150px;
    height: 60px;
    background: transparent url("../img/white-cloud-2.png") no-repeat center center;
    background-size: 100% 100%;
    animation: cloud-animation-5 linear 8s infinite alternate;
}
.Bird {
    position: absolute;
    top: 100px;
    left: 0;
    width: 60px;
    height: 60px;
    background: transparent url("../img/bird.png") no-repeat center center;
    background-size: 100% 100%;
    animation: bird-animation 10s ease-out infinite alternate;
    transform: rotateY(180deg) rotateZ(270deg);
    transition:left 10s ease-in-out;
}

@keyframes cloud-animation-1 {
    0% {
        opacity: 0;
        left: 100px;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.6;
        left: 200px;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        left: 300px;
    }
}
@keyframes cloud-animation-2 {
    0% {
        opacity: 0;
        left: 0px;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.6;
        left: 175px;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        left: 350px;
    }
}
@keyframes cloud-animation-3 {
    0% {
        opacity: 0;
        right: 100px;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.6;
        right: 200px;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        right: 300px;
    }
}
@keyframes cloud-animation-4 {
    0% {
        opacity: 0;
        right: 50px;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.6;
        right: 250px;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        right: 350px;
    }
}
@keyframes cloud-animation-5 {
    0% {
        opacity: 0;
        right: 50px;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.6;
        right: 100px;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        right: 150px;
    }
}
@keyframes bird-animation {
    0% {top: 100px;left: 0;}
    10%{top: 110px;}
    20%{top: 100px;}
    30%{top: 110px;}
    40%{top: 100px;}
    50%{top: 110px;}
    60%{top: 100px;}
    70%{top: 110px;}
    80%{top: 100px;}
    90%{top: 110px;}
    100% {top: 100px;left: 1000px;}
}