.ReliableCourse {
    padding-top: 100px;
}
.ReliableCourse .ReliableCourse-Thumbnail {
    text-align: center;
    border: none;
    box-shadow: none;
    font-size: 32px;
    font-family: '微软雅黑';
    color: rgb(0, 0, 0);
}

.ReliableCourse-Content {
    background: transparent url("../img/reliable-course-bg.png") no-repeat center center;
    background-size: cover;
    vertical-align: bottom;
    padding: 50px 0;
}

.ReliableCourse-Content .head-portrait {
    width: 100%;
    height: 100%;
}

.ReliableCourse-Content .chat {
    height: 150px;
    vertical-align: middle;
    font-size: 24px;
    color: #000;
    font-family: '微软雅黑', serif sans-serif;
}

.ReliableCourse-Content .ReliableCourse-left .chat {
    background: transparent url("../img/reliable-course-chat-left.png") no-repeat center center;
    background-size: 100% 100%;
    padding: 25px 15px 0;
}

.ReliableCourse-Content .ReliableCourse-right {
    margin-top: 40px;
}
.ReliableCourse-Content .ReliableCourse-right .chat {
    background: transparent url("../img/reliable-course-chat-right.png") no-repeat center center;
    background-size: 100% 100%;
    padding: 60px 15px 0;
}